*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #f9f9f9;
}
.resumeDiv{
width: 70%;
border: 2px solid black;
}

.white{
    color: white;
}




header{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #008fff;
    margin-bottom: 30px;
}
header img{
    width: 150px;
    height: 160px;
    border-radius: 50%;   
}
.content{
    width: 100%;
    display:flex;
    
}
.content aside{
    width: 30%;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;

}
.contact,
.Education,
.Skills,
.Language{
    margin-bottom: 30px;
}

.contact h2,
.Education h2,
.Skills h2,
.Language h2,
.experiance h2,
.refrence h2{
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
    padding-bottom: 3px;
    color:lightskyblue
}

.education{
    line-height: 20px;
}
.Skills ul{
    margin-left: 18px;

}
.main-content{
    width: 70%;
    padding-left: 50px;
    background-color: white;
}

.experiance-items{
    margin-bottom: 73px;
}
.experiance-items p{
margin-bottom: 5px;
}

.btnDiv{
    width: 70%;
    padding: 2%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;


}
.btn{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 14px;
    border-radius: 8px;
    color:white;
    background-color: #008fff;
    cursor: pointer;

    &:hover{
        background: #00789e;
    }

    &:active{
        transform: scale(0.95);
    }

}

.hide{
    display:none;
}

@media print{
    .btnDiv{
        display: none;
    }
}

@media(max-width: 786px){
    .content{
        flex-direction: column;
    }
    asside,.main-content{
        width:100%
    }
}